@include breakpoint(0, $mobile) {
    .about-hero{
        height: 85vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        h1{
            font-weight: 700;
            font-size: 2rem;
            text-align: left;
        }
        h2{
            font-size: 1.5rem;
            text-align: left;
            font-weight: 700;
            color: white;
        }
        p{
            color: white;
            font-size: 1rem;
            text-align: center;
        }
    }

}

@include breakpoint($desktop) {
    .about-hero{
        height: 90vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        h1{
            font-size: 3rem;
            text-align: center;
            font-weight: 700;
        }
        h2{
            font-size: 1.5rem;
            text-align: center;
            font-weight: 700;
            color: white;
        }
        p{
            color: white;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .img-about{
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    
    
}