
.arrival-hero{
    height: 90vh;
    background-image: url('./images/baden.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    h1{
        text-align: left;
        font-weight: 700;
    }
    h2{
        text-align: left;
        font-weight: 700;
        color: white;
    }
}
.arrival-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    gap: 2rem;
}

.row-80{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    img{
        max-width: 60%;
        height: auto;
    }
}
.row-70{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70%;
    padding: 5rem 0;
    img{
        max-width: 60%;
        height: auto;
    }
}
.container__basic__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
}

.pd5{
    padding: 5rem 0;
}

.col__basic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

@include breakpoint(0, $mobile) {
    .arrival-hero{

        h1{
            font-size: 2rem;
        }
    }
    .row-80{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 80%;
        img{
            max-width: 80%;
            height: auto;
        }
    }
    .row-70{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 2rem 2rem;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

@include breakpoint($desktop) {
    
}