.frühschoppen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include breakpoint(0, $mobile) {
    h2{
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
        text-align: left;
    }
    .fact-hero{
        height: 90vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        h1{
            color: white;
            font-weight: 700;
            font-size: 3rem;
            padding: 1rem 5rem;
        }
        p{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            padding: .5rem
        }
    }
    .hero-fact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
    }

    .hard-facts-first{
        background-color: #1E1E1E;
        color: white;

        
        .hard-facts-first-container{
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            img{
                
                max-height: 80vh;
                max-width: 80vw;
            }
        }
        p{
            padding-bottom: 1rem;
            line-height: 1.5rem;
            font-weight: 100;
        }
        
    }

    .hard-facts-first-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    .hard-facts-second{
        background-color: #E9E9E9;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        ul{
            list-style:circle;
            padding-left: 2rem;
        }
        .hard-facts-second-teaser{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .hard-facts-second-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            
            img{
                padding: 1rem 0;
                max-height: 85vh;
                max-width: 85vw;
            }
        }
    }
    .hard-facts-second-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }
    .fake-button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DAAD29;
        color: black;
        padding: 1rem 2rem;
        font-size: 1rem;
        text-decoration: none;
        
    }
    .hard-facts-third{
        background-color: #1E1E1E;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        min-height: 60vh;
        gap: 2rem;
        
    }
    .plan{
        max-height: 20rem;
        max-width:20rem;
        background-color: #E9E9E9;
    }

    .hard-facts-fourth{
        background-color: #E9E9E9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        iframe{
            width: 100%;
            height: 45vh;
        }
    }
    .hard-facts-fourth-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 85%;
        padding: 2rem 0;
    }

    .hard-facts-fifth-container{
        background-color: #1E1E1E; 
        color: white;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hard-facts-fifth{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #1E1E1E;
        flex-direction: column;
        padding: 0 1rem;
        h2{
            padding-top: 2rem;
        }

    }
    .timeline-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 3rem 0;
        height: 120vh; /* Ensure the container takes the full viewport height */
    }
    .anreisebeschreibung{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .anreiseart{
        display: none;
    }
    .anreiseding{
        display: none;
    }
    .anreisegrafik{
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .facts-parking{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white;
        padding: 2rem;
    }
    .park-plan{
        width: 100%;
        height: auto;
            
    }
    .img-foodcorner{
        width: 100%;
        height: auto;
    }
    .facts-foodcorner{
        background-color: #E9E9E9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: black;
        
    }
    .facts-foodcorner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        
    }

    .facts-foodcorner-below{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
        width: 100%;
    }

    .facts-kinderprogramm{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        min-height: 80vh;
        
    }
    .facts-kinderprogramm-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        img{
            width: 100%;
            height: auto;
        }
    }
    .speis{
        width: 100%;
        height: auto;
    
    }
    
}



@include breakpoint($desktop) {
    h2{
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
        text-align: left;
    }

    .fact-hero{
        height: 90vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: white;
            font-weight: 700;
            font-size: 3rem;
        }
        p{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            padding: .5rem 0
        }
    }
    .hero-fact-container{
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5rem;

    }
    .hero-fact-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        
    }
    .hard-facts-first{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1E1E1E;
        color: white;
        padding: 5rem 0;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        .hard-facts-first-container{
            padding: 2rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            width: 70%;
            
        }
        
    }
    .hard-facts-first-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem 0;
        p{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.3rem;
        }
        ul{
            list-style: circle;
            padding-left: 2rem;
        }
        li{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            
            &:hover{
                color: #DAAD29;
                transform: none;
            }
        }
    }

    .hard-facts-second{
        background-color: #E9E9E9;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        .hard-facts-second-teaser{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
        }
        .hard-facts-second-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            padding: 2rem 0;
            width: 70%;
            img{
                width: 37%;
                height: auto;
            }
        }
    }
    .hard-facts-second-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 38%;
        align-items: flex-start;
        gap: 1rem;
        p{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.3rem;
        }
        ul{
            list-style: circle;
            padding-left: 2rem;
        }
        li{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            
            &:hover{
                color: #DAAD29;
                transform: none;
            }
        }
    }
    .hard-facts-third{
        background-color: #1E1E1E;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        min-height: 80vh;
        gap: 2rem;
        
    }
    .plan{
        width: 70%;
        height: auto;
        background-color: #E9E9E9;
    }

    .park-plan{
        width: 70%;
        height: auto;
        background-color: #E9E9E9;
            
    }
    .hard-facts-fourth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        min-height: 80vh;
        background-color: #E9E9E9;
        padding: 5rem 0;
    }
    .hard-facts-fourth-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
            
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.3rem;
            padding: 1rem 0;
        
        }
        iframe{
            width: 100%;
            height: 60vh;
        }
        width: 70%;
    }
    

    .hard-facts-fifth-container{
        background-color: #1E1E1E;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .hard-facts-fifth{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        width: 70%;
        color: white;
        flex-direction: column;
        padding: 5rem 0;

    }
    .timeline-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; /* Changed from center to stretch */
        gap: 5rem;
        padding: 4rem 0;
        height: 100vh; /* Ensure the container takes the full viewport height */
    }
    
    .anreiseart {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Adjust to space-between for equal distribution */
        align-items:center;
        height: 100%; /* Ensure it takes full height of its container */
    }
    
    .anreisebeschreibung {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        gap: 2rem;
    }
    
    .anreiseding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
    }
    
    .anreisegrafik{
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
    }
    .facts-parking{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: white;
        }
        padding-bottom: 5rem;
    }
    .facts-parking-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 70%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .facts-foodcorner{
        background-color: #E9E9E9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: black;
        }
        padding: 5rem 0;
    }
    .facts-foodcorner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 70%;
    }
    .facts-foodcorner-below{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        padding-top: 2rem;
    
    }
    .facts-foodcorner-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 70%;
    }
    .facts-kinderprogramm{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        h2,p, ul {
            color: white;
            text-align: left;
        }
        padding: 5rem 0;
        ul{
            list-style:circle;
            padding-left: 2rem;
        }
        li:hover{
            color: #DAAD29;
            transform: none;
        }

    }

    .facts-kinderprogramm-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        width: 70%;
    }
    .facts-kinderprogramm-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;
        width: 45%;

    }
    .img-kinderprogramm{
        width: 35%;
        height: auto;
    }
    .speis{
        width: 85%;
        height: auto;
    }
    
}
@include breakpoint($mobile, 1300) {
    .hard-facts-fifth-container{
        background-color: #1E1E1E; 
        color: white;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .hard-facts-fifth{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #1E1E1E;
        flex-direction: column;
        padding: 3 0rem;
        h2{
            padding-top: 2rem;
        }

    }
    .timeline-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 3rem 0;
        
    }
    .anreisebeschreibung{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .anreiseart{
        display: none;
    }
    .anreiseding{
        display: none;
    }
    .anreisegrafik{
        display: none;
    }
    .mobile{
        display: none;
    }
    
}