@include breakpoint(0, $mobile) {

    .fact-hero{
        height: 80vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        h1{
            color: white;
            font-weight: 700;
            font-size: 3rem;
            padding: 1rem 5rem;
        }
        p{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            padding: .5rem
        }
    }
    .hero-fact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .hard-facts-first{
        background-color: #1E1E1E;
        color: white;

        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        .hard-facts-first-container{
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            img{
                
                max-height: 80vh;
                max-width: 80vw;
            }
        }
        p{
            padding-bottom: 1rem;
            line-height: 1.5rem;
            font-weight: 100;
        }

        
    }

}

@include breakpoint($desktop) {
    h2{
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 1rem;
        text-align: left;
    }

    .fact-hero{
        height: 80vh;
        background-image: url('./images/background-facts.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        h1{
            color: white;
            font-weight: 700;
            font-size: 3rem;
        }
        p{
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            padding: .5rem
        }
    }
    .hero-fact-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8rem;
    }
    .hard-facts-first{
        background-color: #1E1E1E;
        color: white;

        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        .hard-facts-first-container{
            padding: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            
        }
        
    }
    .hard-facts-first-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
        p{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.3rem;
        }
        width: 35%;
        li{
            font-size: .8rem;
            font-weight: 400;
            text-align: left;
            &:hover{
                color: #DAAD29;
                transform: none;
            }
        }
    }

    .hard-facts-second{
        background-color: #E9E9E9;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
        }
        .hard-facts-second-teaser{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
        }
        .hard-facts-second-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
        }
    }
    .hard-facts-third{
        background-color: #1E1E1E;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        min-height: 80vh;
        gap: 2rem;
        
    }
    .hard-facts-fourth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        min-height: 80vh;
        background-color: #E9E9E9;
        padding: 2rem;
    }
    .hard-facts-fourth-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        h2{
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 1rem;
            text-align: left;
            
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            text-align: left;
            line-height: 1.3rem;
            padding: 1rem 0;
        
        }
        iframe{
            width: 100%;
            height: 60vh;
        }
        width: 70%;
    }
    .plan{
        max-height: 30rem;
        max-width: 30rem;
        background-color: #E9E9E9;
    }

    .hard-facts-fifth-container{
        background-color: #1E1E1E;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hard-facts-fifth{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        width: 70%;
        background-color: #1E1E1E;
        color: white;
        flex-direction: column;
        h2{
            padding-top: 2rem;
        }

    }
    .timeline-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch; /* Changed from center to stretch */
        gap: 2rem;
        padding: 5rem;
        height: 100vh; /* Ensure the container takes the full viewport height */
    }
    
    .anreiseart {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Adjust to space-between for equal distribution */
        align-items: flex-start;
        flex: 1; /* Allow the column to take up available space */
        height: 100%; /* Ensure it takes full height of its container */
    }
    
    .anreiseart h3 {
        flex-grow: 1; /* Allow the h3 elements to grow and take up space equally */
        margin: 0; /* Remove default margins for better alignment */
        display: flex;
        justify-content: flex-start; /* Center text horizontally */
        align-items: center; /* Center text vertically */
    }
    
    .anreisebeschreibung {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        gap: 2rem;
    }
    
    .anreiseding {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 15%;
        height: 100%;
    }
    
    .anreisegrafik{
        width: 100%;
        height: auto;
        max-height: 100%;
        padding: 2rem 0;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
    }
    .facts-parking{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: white;
        }
        padding: 2rem;
    }
    .facts-parking-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 70%;
    }
    .facts-foodcorner{
        background-color: #E9E9E9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: black;
        }
        padding: 2rem;
    }
    .facts-foodcorner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 70%;
    }
    .facts-foodcorner-below{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        padding-top: 2rem;
    
    }
    .facts-foodcorner-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 70%;
    }
    .facts-kinderprogramm{
        background-color: #1E1E1E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        h2,p, ul {
            color: white;
            text-align: left;
        }
        padding: 4rem;
        ul{
            list-style:circle;
            padding-left: 2rem;
        }
        li:hover{
            color: #DAAD29;
            transform: none;
        }

    }

    .facts-kinderprogramm-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 70%;
    }
    .facts-kinderprogramm-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        flex:1;
        width: 70%;

    }
    .img-kinderprogramm{
        width: auto;
        height: 60vh;
        max-height: 100%;
        padding: 2rem 0;
    }
}