*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@include breakpoint($mobile) {
  :root {
    font-size: 16px;
  }
}

@include breakpoint($desktop) {
  :root {
    font-size: 23px;
  }
}