@include breakpoint(0, $mobile) {

    .line-up-hero{
        background-image: url('./images/l-u-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        h1{
            color: white;
            font-weight: 700;
            font-size: 2rem;
            text-align: left;
        }
        h2{
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: left;
        }
    }

    .line-up-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1E1E1E;
    }
    .line-up-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        img{
            width: 100%;
            height: auto;
        }

    }
    .hero-text-general{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        width: 80%;
    }

    .img-big{
        width: 85%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }

}

@include breakpoint($desktop) {

    #line-up{

        h1,h2{
            font-weight: 700;
        }



        .line-up-hero{

        background-image: url('./images/l-u-banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0.4);
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        h2{
            color: white;
        }
    }

    }
    .hero-text-general{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 7rem;
        width: 60%;
        h1{
            font-size: 4rem;
        }
        h2{
            color: white;
            font-size: 2.5rem;
        }
    }

    .line-up-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        background-color: #1E1E1E;

        
    }
    .line-up-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        img{
            width: 100%;
            height: auto;
        }

    }
    .hover-none li:hover{
        transform: none;
        color: black;

    }
    .hover-none{
        list-style-type: circle;
        padding: 0 1rem;
    }
    .img-big {
        width: 85%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
}