
@include breakpoint(0, $mobile) {

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #2B2B2B;
        height: 10vh;
        gap: 2rem;
        font-weight: 100;
        ul{
            display: flex;
            flex-direction: row;
            gap: .5rem;
            justify-content: center;
            align-items: center;
            a{
                color: white;
                text-decoration: none;
                font-size: 1rem;
            }
        }

        .socials{
            height: 2rem;
            width: 2rem;
        }
    
    }
}

@include breakpoint($desktop) {
 
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #2B2B2B;
        height: 6vh;
        padding: 1rem;
        ul{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            
            a{
                color: white;
                text-decoration: none;
                font-size: .8rem;
                font-weight: 100;
            }
        }

        .socials{
            height: 1.5rem;
            width: 1.5rem;
        }

        .socials:hover{
            transform: rotate(-5deg) scale(1.1);
        }
    }
}